<div class="container">
    <ul class="progressbar" *ngIf="customerInfo ? customerInfo.loanDecision == 'APPROVED': 0">
        <li class="active" >Loan Application</li>
        <li class="active">Validated by the System</li>
        <li class="active">Approved</li>
    </ul>

    <ul class="progressbar" *ngIf="customerInfo ? customerInfo.loanDecision == 'REJECTED': 0">
        <li class="active" >Loan Application</li>
        <li class="active">Validated by the System</li>
        <li >Under Review with the Loan Officer</li>
        <li >Status</li>
    </ul>

    <!-- <ul class="progressbar" *ngIf="customerInfo ? customerInfo.loanDecision == 'REJECTED': 0">
        <li class="active" >Loan Application</li>
        <li class="active">Validated by the System</li>
        <li class="active">Reviwed by the Loan Officer</li>
        <li class="denied">REJECTED</li>
    </ul> -->
    <br />
    <br />
    <label class="msgLbl" *ngIf="customerInfo ? customerInfo.loanDecision == 'APPROVED': 0">Congratulations!! Your application is approved.</label>
    <label class="msgLbl" *ngIf="customerInfo ? customerInfo.loanDecision == 'REJECTED': 0"> Your application is under review. Please call 1-XXX-XXX-XXXX for the more details.</label>
</div>
